@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus+SC&display=swap');

body {
  text-align: center;
  font-family:
    'Titillium Web',
    'Roboto',
    serif !important;
  font-size: 1.1rem !important;
}

.head__part {
  margin: 5vh auto;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  color: #1976d2;
  font-family:
    'Marcellus SC',
    'Titillium Web',
    serif;
  font-size: 4em;
  text-shadow: .03em .03em 0 white;
}

.head__part:after {
  content: attr(data-shadow);
  position: absolute;
  top: .06em;
  left: .06em;
  z-index: -1;
  text-shadow: none;
  background-image:
    linear-gradient(45deg,
      transparent 45%,
      #1976d2 45%,
      #1976d2 55%,
      transparent 0);
  background-size: .05em .05em;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shad-anim 15s linear infinite;
}

@keyframes shad-anim {
  0% {
    background-position: 0 0
  }

  0% {
    background-position: 100% -100%
  }
}
